.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 740px;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url(../../../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.cover__background::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}
